<div class="rounded-md border border-rose-300 aspect-20/6 w-full flex items-center shadow-sm hover:shadow-md transition-shadow duration-200">
  <div class="w-1/3 h-full bg-rose-50 flex items-center justify-center border-r border-rose-300">
    <%= image_tag "icons/company.svg", class: "h-2/3" %>
  </div>
  <span class="text-center w-2/3"><%= labeler.name %></span>
</div
