<div class="w-full px-2 py-3 bg-rose-50 border border-rose-300 rounded-md"
     data-controller="user-medications-preview"
     data-user-medications-preview-ingredients-value="<%= user_medication.medication_version.medication.active_ingredients.map { |i| {name: i.name, halfLife: i.half_life, dose: Random.rand(25..300)} }.to_json %>">
  <h5 class="text-lg text-center"><%= user_medication.medication_version.full_name %></h5>

  <div data-user-medications-preview-target="chart"></div>
</div>
