<div class="w-full">
  <div class="mx-2 mt-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3">
    <%= render partial: "prescriptions/prescription", collection: @prescriptions %>
  </div>
</div>
