<% unless hotwire_native_app? %>
  <footer class="p-3 flex justify-between">
    <nav>
      <%= link_to t(".privacy"), privacy_path, class: "underline hover:no-underline mx-1 text-sm" %>
      <%= link_to t(".imprint"), imprint_path, class: "underline hover:no-underline mx-1 text-sm" %>
      <%= link_to t(".about"), about_path, class: "underline hover:no-underline mx-1 text-sm" %>
    </nav>
    <span><%= t(".made_by_html") %></span>
  </footer>
<% end %>
