<footer class="p-3 flex justify-between">
  <nav>
    <%= link_to "Privacy Policy", privacy_path, class: "underline hover:no-underline mx-1 text-sm" %>
    <%= link_to "Imprint", imprint_path, class: "underline hover:no-underline mx-1 text-sm" %>
  </nav>
  <span>Made by <a href="https://pawbies.net" class="underline hover:no-underline">Pawbies</a></span>
</footer>
