<header class="px-6 py-8 flex justify-between items-center">
  <h1 class="text-3xl font-semibold flex items-center">
    <img src="/icon.svg" alt="FemMed Logo" class="aspect-square h-24 mr-3">
    <%= link_to "FemMed", root_path %>
  </h1>

  <div class="relative" data-controller="profile">
    <img data-action="click->profile#toggle" src="/icon.svg" alt="Profile picture" class="hover:cursor-pointer rounded-full border border-black aspect-square h-14">

    <div data-profile-target="popup" class="hidden absolute top-16 right-0 py-2 px-4 rounded-md border border-rose-300 bg-rose-100">
      <%= link_to "Settings", root_path, class: "text-lg font-semibold" %>
      <%= button_to "Log out", session_path, method: :delete, class: "hover:cursor-pointer text-lg text-red-500 font-semibold" %>
    </div>
  </div>
</header>
