<header class="px-6 py-8 flex justify-between items-center">
  <h1 class="text-3xl font-semibold flex items-center">
    <img src="/icon.svg" alt="FemMed Logo" class="aspect-square h-24 mr-3">
    <%= link_to "FemMed", root_path %>
  </h1>

  <% if false %>
    <h1>Profile</h1>
  <% else %>
    <%= link_to "Login", root_path %>
  <% end %>
</header>
