<nav class="mt-8 mb-12 flex gap-8 border-b border-gray-200">
  <% links.each do |name, link| %>
    <%= link_to name, link, class: "pb-3 font-medium text-gray-600 hover:text-gray-900 transition-colors #{current_page?(link) ? 'border-b-2 border-rose-500 text-rose-600' : ''}" %>
  <% end %>
</nav>
