<div class="relative w-full mx-auto aspect-4/3 rounded-lg overflow-hidden">
  <%= image_tag "pharmacy.svg", class: "absolute inset-0 w-full h-full object-cover z-10" %>

  <svg class="absolute bottom-0 left-0 w-full h-12 z-20" viewBox="0 0 600 80" preserveAspectRatio="none">
    <path d="M0,20 Q300,80 600,20 L600,80 L0,80 Z" fill="white" />
  </svg>

  <img src="/icon.svg" class="absolute bottom-0 left-1/2 -translate-x-1/2 mb-4 h-1/2 z-10">
</div>
