<div class="w-full">
  <div class="mb-8">
    <h1 class="text-4xl font-bold text-gray-900">All users on <%= request.domain %></h1>
    <p class="text-sm italic text-gray-400 mt-1"><%= User.count %> registered</p>
  </div>

  <table class="w-full text-sm border-collapse">
    <thead>
      <tr class="border-b border-rose-100 text-left text-xs uppercase tracking-widest text-rose-400">
        <th class="pb-3 pr-8"></th>
        <th class="pb-3 pr-8">Username</th>
        <th class="pb-3">Email</th>
        <th class="pb-3 pr-8">Joined</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-zinc-100">
      <%= render partial: "users/row", collection: User.all, as: :user %>
    </tbody>
  </table>
</div>
