<div class="w-full">
  <%= image_tag @user.profile_picture, alt: "Profile picture", class: "mx-auto aspect-square max-w-32 rounded-full border" %>
  <h1 class="mt-6 text-center font-bold text-4xl"><%= @user.username %></h1>

  <div class="mt-16 mx-auto md:max-w-2/3 flex justify-evenly items-center">
    <%= link_to "Wanna change something?", edit_user_path(@user), class: "text-xl underline hover:no-underline" %>
  </div>
</div>
